@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #d88b7b;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ececec' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

ul {
  font-weight: bold;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

li {
  display: inline-block;
}

li a {
  color: #453d3d;
  padding: 20px 50px 20px;
  text-decoration: none;
}

li a:hover {
  color: rgba(255, 0, 0, 0.65);
}


.logo {
  position: fixed;
  top: 13px;
  left: 20px;
  width: 100px;
  height: auto;
}

.navBar {
  font-size: 24px;
  background-color: #61F69B;
  position: fixed;
  padding: 20px;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}
.banner {
  background-image: url("../assets/banner.png");
  background-size: 100%;
  padding-top: 10px;
  font-size: 6vh;
  color: white;
  display: flex;
  text-align: center;
}

.container {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.threeCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  padding: 50px;
}

p {
  text-align: justify;
  padding: 10px;
}

.card {
  background-color: #85C6FA;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.50);
  padding: 50px 0 50px;

}

.card:hover {
  transform: scale(1.2);
}

h2 {
  font-size: 34px;
  padding: 10px;
}

.text {
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}

.twoUp {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #85C6FA;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.20'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 10px;
}

.pic {
  margin-left: 50px;
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.caption {
  color: white;
  font-size: 8vh;
  width: 100%;
  text-align: left;
}
